.material-hover{
  transition: .3s;
}
.material-hover:hover{
 color: rgba(0, 0, 0, 0.95);
}
.todo-list-item:hover{
  width: 100%;
  cursor: pointer;
}
.done{

  text-decoration: line-through;
}

.important .todo-list-item-label{
  color: tomato;
  font-weight: 700;
}
.todo-list-item-btn{
  text-align: right;
}