.todo-list-item{
  margin-bottom: 0;
}
.todo-list-item-label{
  vertical-align: middle;
  padding-top: 10px ;
  text-align: left;
}
.done .todo-list-item-label{
  text-decoration: line-through;
}

.important .todo-list-item-label{
  color: tomato;
  font-weight: 700;
}
.todo-list-item-btn{
  text-align: right;
}
.button-group{
  margin: 5px 0 0 ;
}
.button-group button{
  margin: 0 5px;
}